### 1. Sort DataFrame based on another list

Prompt: You are given a DataFrame. Additionally, you also have a list that contains all the unique values of a particular column of the DataFrame. Sort the DataFrame such that the values in the column appear in the same order as they do in the given list.

In [ ]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2], ["C", 3], ["D", 4]],
		  columns = ["Col_A", "Col_B"])

sort_list = ["C", "D", "B", "A"]
print(df)

In [21]:
s = pd.Series(range(len(sort_list)), index = sort_list)

sorted = df.sort_values("Col_A", key = lambda x: x.map(s))
print(sorted)

  Col_A  Col_B
2     C      3
3     D      4
1     B      2
0     A      1

## 2. Insert a column at a specific location in a DataFrame

Prompt: Assume that you again have a similar DataFrame as used above. Additionally, you are given a list whose size is the same as the number of rows in the given DataFrame. The task is to insert the given list as a new column at a given position of the DataFrame.

In [ ]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2], ["C", 3], ["D", 4]],
                  columns = ["Col_A", "Col_B"])

new_column = ["P", "Q", "R", "S"]
insert_position = 1

print(df)

In [27]:
df.insert(insert_position,"Col_C",new_column)
print(df)

  Col_A Col_C  Col_B
0     A     P      1
1     B     Q      2
2     C     R      3
3     D     S      4

## 3.Select columns based on the column’s Data Type

Prompt: We all are familiar with row-based filtering, aren’t we? Well, let’s try something else. Your task is to filter all the columns from a DataFrame whose entries adhere to a given data type.

In [5]:
import pandas as pd

df = pd.DataFrame([["A",1,True],["B",2,False],["C",3,False],["D",4,True]],
                 columns = ["col_A", "col_B", "col_C"])
dt_type = "bool"

print(df)

  col_A  col_B  col_C
0     A      1   True
1     B      2  False
2     C      3  False
3     D      4   True

In [6]:
new_df = df.select_dtypes(include = dt_type)
print(new_df)

   col_C
0   True
1  False
2  False
3   True

## 4. Count the number of Non-NaN cells for each column

Prompt: Next, given a DataFrame (with NaN values in one or more columns), you need to print the number of Non-NaN cells for each column

In [7]:
import pandas as  pd
import numpy as np

df = pd.DataFrame([["A",np.NaN],[np.NaN,2],["C",np.NaN],["D",4]],
                 columns = ["col_A", "col_B"])
print(df)

  col_A  col_B
0     A    NaN
1   NaN    2.0
2     C    NaN
3     D    4.0

In [10]:
df_count = df.count()
print(df_count)

col_A    3
col_B    2
dtype: int64

## 5. Split DataFrame into equal parts

Prompt: Given a DataFrame, your task is to split the DataFrame into a given number of equal parts.

In [19]:
import pandas as pd

df = pd.DataFrame([["A",1],["B",2],["C",3],["D",4]],
                 columns = ["col_A","col_B"])

parts = 2

print(df)

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [24]:
df1, df2 = np.split(df,parts)
print(df1)
print(df2)

  col_A  col_B
0     A      1
1     B      2
  col_A  col_B
2     C      3
3     D      4

## 6. Reverse DataFrame row-wise or column-wise

Prompt: Next, consider that you have a DataFrame similar to the one we used above. Your task is to flip the entire DataFrame row-wise or column-wise.

In [25]:
import pandas as pd

df = pd.DataFrame([["A",1],["B",2],["C",3],["D",4]],
                 columns = ["col_A","col_B"])
print(df)

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [27]:
column_reverse = df.loc[:,::-1]
print(column_reverse)

   col_B col_A
0      1     A
1      2     B
2      3     C
3      4     D

In [28]:
row_rev = df.loc[::-1]
print(row_rev)

  col_A  col_B
3     D      4
2     C      3
1     B      2
0     A      1

## 7. Rearange columns of a DataFrame

Prompt: In this exercise, you are given a DataFrame. Additionally, you have a list that specifies the order in which the columns should appear in the DataFrame. Given the list and the DataFrame, print the columns in the order specified in the list.

In [29]:
import pandas as pd

df = pd.DataFrame([["A",1],["B",2],["C",3],["D",4]],
                 columns = ["col_A", "col_B"])

rearrange_order = [1,0] #column 1 then column 0

print(df)

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [41]:
rearranged_df = df.iloc[:, rearrange_order]
print(rearranged_df)

   col_B col_A
0      1     A
1      2     B
2      3     C
3      4     D

## 8. Get alternate rows of a DataFrame

Prompt: Next, given a DataFrame, you need to print every alternate row starting from the first row of the DataFrame.

In [42]:
import pandas as pd

df = pd.DataFrame([["A",1],["B",2],["C",3],["D",4]],
                 columns = ["col_A", "col_B"])
print(df)

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [43]:
new_df = df.iloc[::2]
print(new_df)

  col_A  col_B
0     A      1
2     C      3

## 9. Insert a row at an arbitrary position

Prompt: Similar to earlier tasks, you are given the same DataFrame. Your task is to insert a given list at a specific index of the DataFrame and reassign the indexes.

In [44]:
import pandas as pd
df = pd.DataFrame([["A",1],["B",2],["C",3],["D",4]],
                 columns =["col_A","col_B"])
print(df)

insert_pos = 1
insert_row = ["P", 5]

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [45]:
df.loc[insert_pos - 0.1] = insert_row
df = df.sort_index() 
df = df.reset_index(drop = True)
print(df)

  col_A  col_B
0     A      1
1     P      5
2     B      2
3     C      3
4     D      4

## 10. Apply function to every cell of DataFrame

Prompt: Lastly, you need to apply a given function to the entire DataFrame. The given DataFrame consists of just integer values. The task is to increase each entry by 1 through a function.

In [48]:
import pandas as pd

df = pd.DataFrame([[1,5],[2,6],[3,7],[4,8]],
                 columns = ["Col_A","Col_B"])

print(df)

def func(num):
    return num + 1

   col_A  col_B
0      1      5
1      2      6
2      3      7
3      4      8

In [51]:
new_df = df.applymap(func)
print(new_df)

   col_A  col_B
0      2      6
1      3      7
2      4      8
3      5      9